

html{
    height: 120%;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

body {
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: column;
    margin:0;
}
.header-logo{
    font-size: 24px;
    color:#f9faf8;
    display: flex;
    justify-content: center;
    margin: auto;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    height: 5%;
    text-align: center;
    color: antiquewhite;
    background-color: #1f2937;
    font-size: 18px;
    position: sticky;
}
.nav-links{
    font-size: 18px;
    color: #e5e7eb;
    margin: auto;
}
.main-header{
    display: flex;
    justify-content: center;
    color: antiquewhite;
    height: 25%;
    background-color: #1f2937;
    padding: 25px;
}
.website-desc{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin:auto;
    
}
.website-desc >*{
  
    padding: 5px 0;;
}
.random-information{
    display: flex;
    justify-content: center;
    height: 25%;
    text-align: center;
    flex-direction: column;
}
#photo-grid-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    

}
.photo-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: content-box;
}

.photo{
    height: 100px;
    margin: 10px;
    border: 2px solid blue;
    border-radius: 7.5px;
}
.quote{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align:center;
    height: 25%;
    background-color: #e5e7eb;
}
.call-to-action{
    height: 25%;
    display: flex;
}
.call-to-action-container{
    display: flex;
    margin: auto;
    height: 60%;
    width: 75%;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: #3882f6;
    border-radius: 5px;
}
.call-to-action-container > *{
    color: antiquewhite;
}
.call-to-action-message{
    display: flex;
    justify-content: center;
    margin: 0;
}

#main-photo{
    margin: 0;
}

a {
    margin: 0 10px;
}

.primary-btn{
    height:30px;
    width:100px;
    background-color: #3882f6;
    color: white;
    border-radius: 10px;
    padding: 0;
    margin: 10px;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5%;
    color: antiquewhite;
    background-color: #1f2937;
    text-align: center;
}

p{
    font-size: 48px;
    font-weight: 700;
    margin:0;
    color: antiquewhite;
}

span {
    padding: 10px 0px ;

}